body{color:white;margin-left:100px;font-size:60} 

body
	{
		background-color:		#183026;
		background-image:		url('images/overlay.png'),			url('../images/bg.jpg');
		background-repeat:		repeat,								no-repeat;
		background-size:		auto,								cover;
		background-position: 	top left,							center 0;
		background-attachment:	fixed,								fixed;
	}

		body.is-scroll
		{
			background-attachment:	scroll,								scroll;
			background-size:		auto,								100% auto;
		}